<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><img src="images/img17.jpg" width=35% alt=""></li><h1>Eglise de Dieu a Verriere Le Buisson</h1>
    <li class="breadcrumb-item active" aria-current="page"></li>
  </ol>
</nav>

<nav class="navbar">
	
	<div class="nav-links">
		<ul>
			<li class='active'><a href="{{ path ("home.index") }}">Accueil</a></li>
			<li><a href="{{ path ("contact.index") }}">Contact</a></li>
			<li><a href="{{ path ("app_infos") }}">Infos</a></li>
			<li><a href="{{ path ("confession.index") }}">Confession</a></li>
			<li><a href="{{ path ("presentation.index") }}">Presentation</a></li>
			<li><a href="{{ path ("eglise.index") }}">Eglise</a></li>
			<li><a href="{{ path ("security.registration") }}">Inscription</a></li>
			<li><a href="{{ path ("security.login") }}">Connection</a></li>
			<li><a href="{{ path ("app_admin") }}">Admin</a></li>
		</ul>
		
	</div>
	<img src="img/icons8-menu-arrondi-24.png" alt="menu hamburger" class="menu-hamburger">
	
</nav>

<header></header>

            <script>
        const menuHamburger = document.querySelector(".menu-hamburger")
        const navLinks = document.querySelector(".nav-links")
 
        menuHamburger.addEventListener('click',()=>{
        navLinks.classList.toggle('mobile-menu')
        })
			</script>





